body{
    margin: 0!important;
    padding: 0!important;
    font-family: PT Sans, sans-serif;
    background-color: #F3F6F9;;

}
//.wraper{
//    display: grid;
//    grid-template-columns: 1fr 1fr;
//    grid-template-rows: 68px 1fr 1fr 241px;
//    grid-template-areas: 'header header' 'addblock addblock' 'main main' 'footer footer';
//    height: 100vh;
//}

.main-block{
    //grid-area: main;
    display: grid;
    @media (min-width: 380px) {
        grid-template-columns: 10px 1fr 10px;
    }
    @media (min-width: 800px) {
        grid-template-columns: 20px 1fr 20px;
    }
    @media (min-width: 1024px) {
        grid-template-columns: 40px 1fr 40px;
    }
    @media (min-width: 1280px) {
        grid-template-columns: 146px 1fr 146px;
    }
    @media (min-width: 1680px) {
        grid-template-columns: 346px 1fr 346px;
    }
    @media (min-width: 1920px) {
        grid-template-columns: 466px 1fr 466px;
    }
}
.pagination {
    grid-column: 2/3;
}
.pagination p {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #3D444D;
}
.lk-employer {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr 60px 2fr;
}
.site-pages {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 2fr 60px 1fr;
    @media (min-width: 800px) {
        grid-template-columns: 2fr 40px 1fr;
    }
    @media (min-width: 1280px) {
        grid-template-columns: 2fr 50px 1fr;
    }
}

button {
    //height: 44px;
    border-radius: 4px;
    border: 0;
    //width: 100%;
    &:hover {
        cursor: pointer;
    }
}
aside {
    grid-column: 3/4;
    display: flex;
    flex-direction: column;

    .block {
        background: #FFFFFF;
        border-radius: 8px;
        padding: 22px;
        margin-bottom: 40px;
        height: fit-content;
    }
}
.right-main-block{
    grid-column: 3/4;
    display: grid;
}
.search-right-nav {
    max-width: 300px;
    background: #ffffff;
    padding: 20px 24px;
    border-radius: 8px;
    margin-bottom: 40px;
}
.heading{
    font-weight: bold;
    font-size: 22px;
    line-height: 19px;
    color: #535961;
}
.modal-register-form{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 10000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#register-form{
    width: 25%;
    padding: 22px 20px;
}

.block {
    background: #FFFFFF;
    border-radius: 8px;
    padding: 20px;
    height: fit-content;
    margin-bottom: 40px;
}
