
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$lt-grey: #808995;
$lt1-grey: #F3F6F9;
$lt-black: #111111;
$dp-black: #000000;
$dark-blue: #5351C7;

