.vacancy{
    background-color: #fff;
    border-radius: 8px;
    padding: 0 26px 0 26px;
    font-family: PT Sans, sans-serif;
    max-height: 481px;
}
.vacancy .heading{
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 85px;
    border-bottom: 1px solid #F3F6F9;
}
.vacancy .main{

}
.vacancy .bottom{
    height: 82px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border-top: 1px solid #F3F6F9;
}
.vacancy .bottom-company-info{
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
    color: #5351C7;
    align-self: end;
}
.vacancy .bototm-sity{
    grid-column: 1/2;
    grid-row: 2/3;
}
.vacancy .bottom-seens{
    grid-column: 6/7;
    grid-row: 1/2;
    align-self: end;
}
.vacancy .bottom-date{
    grid-column: 6/7;
    grid-row: 2/3;
}
.job-description{
    margin-top: 16px;
    line-height: 25px;
    font-size: 16px;
}
.job-requirements{
    margin-top: 16px;
    margin-bottom: 16px;
}
.job-conditions{
    margin-top: 16px;
}
.vacancy h3{
    align-self: end;
    font-size: 22px;
    line-height: 28px;
}
.vacancy h4{
    margin-top: 6px;
    font-size: 16px;
    line-height: 21px;
}
.vacancy h5{
    font-weight: bold;
    color: #808995;
    margin-bottom: 8px;
}
.vacancy ol{
    padding-left: 1.5em;
}
.vacancy li:before{
    content: ')';
    padding-right: 3px;
}
