.avatar-form-input{
    width: 90px;
    height: 90px;
    background-color: #F3F6F9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.form-section{
    display: flex;
    flex-direction: row;
}
.avatar-form{
    flex: 1;
    padding-top: 22px;
}
